<p-card [style]="{width:'360px'}" styleClass="text-center p-card-shadow">
    <ng-template pTemplate="header">
        <div>
            <img class="border-round-top cover"
            height="120px"
            alt="Card"
            [src]="customer.gender === 'male' 
            ? 'https://randomuser.me/api/portraits/med/men/' + ((customerid+1)%100) + '.jpg' 
            : 'https://randomuser.me/api/portraits/med/women/' + ((customerid+1)%100) + '.jpg'"  
            />
        </div>
        <div class="flex justify-content-center" style="margin-top: -50px;">
            <img
            class="customer-avatar"
            [src]="customer.gender === 'male' 
            ? 'https://randomuser.me/api/portraits/med/men/' + ((customerid+1)%100) + '.jpg' 
            : 'https://randomuser.me/api/portraits/med/women/' + ((customerid+1)%100) + '.jpg'"
            />
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-badge
        [value]="''+(customerid+1)">
        </p-badge>
        <h2>{{customer.name}}</h2>
        <p class="text-gray-600">{{customer.email}}</p>
        <p class="text-gray-600">{{customer.age}} | {{customer.gender}}</p>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
        pButton
        label="Update"
        class="p-button-secondary p-button-rounded p-button-outlined"
        (click)="onUpdate()">
        </button>

        <button
        pButton
        label="Delete"
        class="p-button-danger p-button-rounded p-button-outlined ml-3"
        (click)="onDelete()">
        </button>
        
    </ng-template>
</p-card>
